acl lan { {% for address in acl_address %} {{address}}; {% endfor %} };

options {
	directory "/var/cache/bind";

	forwarders {
	{% for dns in dns_forwarders %}
        {{dns}};
    {% endfor %}
	};

	dnssec-validation no;
    allow-query { lan; };
	listen-on-v6 { any; };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ transfer_key }}";
};

key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ nsupdate_key }}";
};